body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url("background.png");
    background-repeat: repeat;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #FF5964;
    font-size: 3rem;
}

.game-container {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-content: center; 
    margin-top: 20px;
    height: 300px;
    width: 300px;
}

.square {
    background-color: white;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: black solid 2px;
}

.hover-effect:hover {
    background: linear-gradient(#6BF178, #35A7FF);
    cursor: pointer;
}

.square:nth-child(3n+1),
.square:nth-child(3n+2) {
    border-right: black solid 10px;
}

.square:nth-child(1n+4) {
    border-top: black solid 10px;
}

.hidden {
    display: none !important;
}

.visible {
    display: block;
}

span {
    font-family: 'Permanent Marker', cursive;
}

.main-container {
    background-color: #FFE74C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
    padding: 10px;
}

#player-statement {
    font-family: 'Permanent Marker', cursive;
    color: #35A7FF;
    font-size: 4rem;
    margin: 0;
}

.winner-title {
    font-family: 'Permanent Marker', cursive;
    color: #35A7FF;
    font-size: 4rem;
    margin: 0;
}

#start,
#reset {
    background-color: #35A7FF;
    color: white;
    border: none;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border-radius: 5px;
}

#reset:hover {
    background-color: #6BF178;
    color: black;
    cursor: pointer;
}

#start:hover {
    background-color: #FF5964;
    color: black;
    cursor: pointer;
}

.game-container > div {
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-container {
    margin-top: 15px;
}